@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.wrap{height: 800px; background: #fc6; position: relative; min-width: 1410px;}
.top{height: 700px; background: #fcc; display: flex;}

header{width: 200px; background: white; padding: 50px 5px;}
header h1{margin-bottom: 50px;}
nav>ul>li>a{display: block; background: #33445A; color: white; padding: 10px 20px;}
nav>ul>li:hover>a{background: #eddbc7; color: #333;}
.sub{display: none;}
.sub li a{display: block; background: #fff; padding: 10px 20px;}
.sub li a:hover{background: #eddbc7;}

.contents{width: 400px; background: white; padding: 20px 5px;}
.con1 h2{width: 120px; color: #fff; text-align: center; font-size: 18px; padding: 10px 0; background: #33445A; border-radius: 15px 15px 0 0;}
.con1 table{border-top: 3px solid #33445A;}
.con1 table tr{border-bottom: 1px solid #333;}
.con1 table tr:nth-child(2n){background: #fff;}
.con1 table td{padding: 10px; text-align: center;}
.con1 table td a{display: block; width: 230px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.con1 table td.title{text-align: left;}
.title a:hover {
    font-weight: bold;
}

.con2{margin-top: 20px;}
.con2 h2{width: 120px; color: #fff; text-align: center; font-size: 18px; padding: 10px 0; background: #33445A; border-radius: 15px 15px 0 0;}
.con2 ul{border-top: 3px solid #33445A; padding-top: 20px; display: flex; justify-content: space-around;}
.con2 ul li{width: 150px; }
.con2 ul li .photo{height: 180px; overflow: hidden;}
.con2 ul li .text{text-align: center; font-weight: bold; margin-top: 10px;}

.con3{margin-top: 20px;}
.con3 ul{display: flex; border-top: 3px solid #33445A; padding-top: 20px; justify-content: space-around;}
.con3 ul li .text{text-align: center; font-weight: bold; margin-top: 10px; }

.slide{width: calc(100% - 600px); background: tomato; position: relative; overflow: hidden;}
.slide ul{position: absolute; width: 100%; height: 2100px;}
.slide ul li{width: 100%; height: 700px; position: relative;}
.slide ul li a{display: block; height: 100%}
.slide ul li.s1{background: url(../img/s1.png) no-repeat center/cover;}
.slide ul li.s2{background: url(../img/s2.png) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.png) no-repeat center/cover;}
.slide ul li .text{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgb(128,128,128,0.5); color: #fff; text-align: center; padding: 20px; border-radius: 20px 0; font-size: 20px;}
.slide ul li .text h2{margin-bottom: 20px;}

footer{height: 100px; background: #C7CCC1; position: relative; color: black; display: flex; align-items: center;}
footer select{position: absolute; top: 30px; right: 40px; width: 200px; height: 40px;}
footer .copy{margin-left: 80px; font-weight: bold;}

.popcon{width: 500px; height: 500px; background: #fff; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; display: none;}